<div class="tru-ph-soc-container">
    <div class="tru-centered">
        <p class="tru-headingstyle">Datenschutzoptionen</p>
        <p class="tru-subheadingstyle">Das Aktivieren von Inhalten aus "Social Media" und "Marketing" kann dazu führen, dass Cookies in Ihrem Browser gesetzt werden.</p>
        <div class="tru-ph-buttons-container">
            <button class="tru-btn-accept" onclick="Truendo.toggleMarketing();Truendo.toggleContent();">
                INHALTE AKTIVIEREN
            </button>
            <button class="tru-btn-privacy" onclick="Truendo.openPrivacyPanel()">
                <span>DATENSCHUTZ INFO</span>
            </button>
        </div>
        <div class="tru-logo-container">
            <a href="https://truendo.com" target="_blank" class="tru-logo-link">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595.59 150">
                    <defs>
                        <style>.cls-1{fill: #2D3C55;}</style>
                    </defs>
                    <title>Privacy by TRUENDO</title>
                    <path class="cls-1" d="M115.19,51V61.74H100.56V99H89V61.74H74.6V51Z"/>
                    <path class="cls-1" d="M164.78,99l-8.93-15.66h-5.91V99H138.4V51h17.93c12.09,0,19.37,6.59,19.37,16.48,0,6.46-3.09,11.27-8.66,13.88L177.69,99ZM149.94,73.15h8a5.71,5.71,0,1,0,0-11.41h-8Z"/>
                    <path class="cls-1" d="M242.45,51V77.68c0,14.42-8.51,22.32-21.22,22.32S200,92.1,200,77.68V51h11.54V77.4c0,8.25,3.36,11.82,9.68,11.82s9.68-3.57,9.68-11.82V51Z"/>
                    <path class="cls-1" d="M303.78,88.26V99H268.41V51h35V61.74H280v7.9h18.33v10.1H280v8.52Z"/>
                    <path class="cls-1" d="M374.24,51V99H363.39l-9.82-13.39c-4.4-6.05-10.85-15.18-10.92-15.18h-.07c-.07,0,.07,7.41.07,17.92V99H331.11V51H342L352.2,64.7c3.09,4.12,10.44,14.49,10.5,14.49h.07c.07,0-.07-8.52-.07-17.24V51Z"/>
                    <path class="cls-1" d="M423.14,51C436.88,51,448,60.78,448,75.21S436.88,99,423.14,99h-21V51Zm0,37.3C430,88.26,436,83.45,436,75.21s-6-13.47-12.84-13.47h-9.48V88.26Z"/>
                    <circle class="cls-1" cx="496.02" cy="67.02" r="1.84"/>
                    <path class="cls-1" d="M496,50a24.51,24.51,0,0,0-24.93,25A25,25,0,1,0,521,75,24.58,24.58,0,0,0,496,50Zm3.14,27.32v9a3.11,3.11,0,0,1-6.22,0v-9a8.25,8.25,0,1,1,6.22,0Z"/>
                </svg>
            </a>
        </div>
    </div>
</div>